<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}">
  <h3>{{{title}}}</h3>

  <div>
    {{{localize "SdS.AdvancementManaPoints" mana=mana mana_percentage=mana_percentage total_mana=total_mana}}}
    <input type="hidden" name="mana" value={{mana}}>
  </div>
</form>
