<form>
    <div class="form-group">
        <label>{{ localize "SdS.Formula" }}</label>
        <input type="text" name="formula" value="{{formula}}" disabled/>
    </div>
    {{#if chooseModifier}}
    <div class="form-group">
        <label>{{ localize "SdS.AbilityModifier" }}</label>
        <select name="ability">
            {{selectOptions abilities selected=defaultAbility}}
        </select>
    </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "SdS.RollSituationalBonus" }}</label>
        <input type="text" name="bonus" value="" placeholder="{{ localize 'SdS.RollExample' }}"/>
    </div>
    <div class="form-group">
        <label>{{ localize "SdS.RollMode" }}</label>
        <select name="rollMode">
            {{selectOptions rollModes selected=defaultRollMode localize=true}}
        </select>
    </div>
</form>
